{{# customer }}
<em><span>Hi,</span> <a href="{{ ../links.ipboard }}" alt="{{ username }}">{{ username }}</a></em>
{{# subscription.plan }}<strong class="{{ className }}">{{ shortName }}</strong>{{/ subscription.plan }}
<a href="{{ ../fanclub.links.logout }}">Logout</a>
{{/ customer }}

{{^ customer }}
<a href="{{ fanclub.links.login }}">Login</a>
{{/ customer }}